<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>English Tips</title>
    <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>

    <script type="text/javascript" src="DataTables/datatables.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('admin.add') }}">Add word</a>
            <a class="nav-item nav-link" href="{{ url_for('admin.list') }}">Servers content</a>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
</body>
</html>