{% extends "nlp_layout.html" %}

{% block styles %}
    <style>
        #divElement {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            border-radius: 10px;
            border: 1px solid;
            border-color: lightgray;
            box-shadow: 0 8px 6px -6px gray;
            padding: 10px;
            background-color: #f7f7f7;
        }

        #divLogin {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            padding: 10px;
            background-color: #f7f7f7;
        }

        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
            text-align: center;
        }

        .button {
            border-radius: 4px;
            background-color: #0063b2;
            border: none;
            font-size: 16px;
            color: #FFFFFF;
            text-align: center;
            padding: 10px;
            width: 100px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

        .button:hover {
            border-radius: 50px;
            transition: 0.3s;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {

            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>
{% endblock styles %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div id="divElement">
            <div>
                <form method="POST" role="form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="sentence">{{ form.sentence.label }}</label>
                        <label for="label">{{ form.label.label }}</label><p>{{ form.label }}</p>
                    </div>
                    <button type="submit" class="button"><span>Predict </span></button>
                </form>
                <br>
                {% with errors = get_flashed_messages(category_filter=["success"]) %}
                    {% if errors %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {%- for msg in errors %}
                                {{ msg }}
                            {% endfor -%}
                        </div>
                    {% endif %}
                {% endwith %}
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {%- for msg in errors %}
                                {{ msg }}
                            {% endfor -%}
                            <hr>
                            <p class="mb-0">If you wish to improve predictions, you can <a href="{{ url_for('admin.add_sample') }}" class="alert-link">add</a>
                                the sentence to the dataset.</p>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    {% else %}
        <div id="divLogin">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading d-inline-block text-body"><span
                        style="color: #0063b2;">PLEASE LOG IN</span>
                </h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    {% endif %}
{% endblock content %}